<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="sw_product_box_wrapper sw_shop_sider_pder">
    <div class="sw_product_indx_img_wrapper">

      <img src="assets/images/prdct_2.jpg" alt="shop_img" class="img-responsive" />
    </div>

    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2">
      <div class="sw_pdct_img">
        <img src="assets/images/line.png" alt="img" />
      </div>
      <h5>$  156</h5>
      <h1><a routerLink="/shop/prodotto">SolarWorld 280</a></h1>

      <div class="cc_li_cont_wrapper">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="cc_li_img_overlay">
        <div class="cc_li_img_text">
          <ul>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>

            <li><a href="#"><i class="fa fa-expand"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="sw_product_box_wrapper sw_shop_sider_pder">
    <div class="sw_product_indx_img_wrapper">

      <img src="assets/images/prdct_4.png" alt="shop_img" class="img-responsive" />
    </div>

    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2">
      <div class="sw_pdct_img">
        <img src="assets/images/line.png" alt="img" />
      </div>
      <h5>$  156</h5>
      <h1><a href="#">SolarWorld 280</a></h1>

      <div class="cc_li_cont_wrapper">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="cc_li_img_overlay">
        <div class="cc_li_img_text">
          <ul>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>

            <li><a href="#"><i class="fa fa-expand"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="sw_product_box_wrapper sw_shop_sider_pder">
    <div class="sw_product_indx_img_wrapper">

      <img src="assets/images/prdct_5.png" alt="shop_img" class="img-responsive" />
    </div>

    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2">
      <div class="sw_pdct_img">
        <img src="assets/images/line.png" alt="img" />
      </div>
      <h5>$  156</h5>
      <h1><a href="#">SolarWorld 280</a></h1>

      <div class="cc_li_cont_wrapper">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="cc_li_img_overlay">
        <div class="cc_li_img_text">
          <ul>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>

            <li><a href="#"><i class="fa fa-expand"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="sw_product_box_wrapper sw_shop_sider_pder">
    <div class="sw_product_indx_img_wrapper">

      <img src="assets/images/prdct_2.jpg" alt="shop_img" class="img-responsive" />
    </div>

    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2">
      <div class="sw_pdct_img">
        <img src="assets/images/line.png" alt="img" />
      </div>
      <h5>$  156</h5>
      <h1><a routerLink="/shop/prodotto">SolarWorld 280</a></h1>

      <div class="cc_li_cont_wrapper">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="cc_li_img_overlay">
        <div class="cc_li_img_text">
          <ul>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>

            <li><a href="#"><i class="fa fa-expand"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="sw_product_box_wrapper sw_shop_sider_pder">
    <div class="sw_product_indx_img_wrapper">

      <img src="assets/images/prdct_4.png" alt="shop_img" class="img-responsive" />
    </div>

    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2">
      <div class="sw_pdct_img">
        <img src="assets/images/line.png" alt="img" />
      </div>
      <h5>$  156</h5>
      <h1><a href="#">SolarWorld 280</a></h1>

      <div class="cc_li_cont_wrapper">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="cc_li_img_overlay">
        <div class="cc_li_img_text">
          <ul>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>

            <li><a href="#"><i class="fa fa-expand"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="sw_product_box_wrapper sw_shop_sider_pder">
    <div class="sw_product_indx_img_wrapper">

      <img src="assets/images/prdct_5.png" alt="shop_img" class="img-responsive" />
    </div>

    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2">
      <div class="sw_pdct_img">
        <img src="assets/images/line.png" alt="img" />
      </div>
      <h5>$  156</h5>
      <h1><a href="#">SolarWorld 280</a></h1>

      <div class="cc_li_cont_wrapper">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="cc_li_img_overlay">
        <div class="cc_li_img_text">
          <ul>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>

            <li><a href="#"><i class="fa fa-expand"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
