
<div class="transparent-menu header-area hidden-menu-bar stick">

  <div class="container">

    <div class="bt_main_menu_wrapper">
      <div class="main-menu-wrapper clear-fix">

        <div class="logo float-left">
          <a href="index-2.html"><img src="assets/images/inner_logo.png" class="img-responsive" alt="logo"></a>
        </div>

      </div>
      <div class="sc_navigation hidden-sm hidden-xs">
        <nav id="primary-nav" class="dropdown nav_left_margin">
          <ul class="dropdown menu navigation cart_dropdown_wrapper">
            <li><a href="index-2.html" title="">Home</a>
              <ul>
                <li class="dropdown_hover"><a href="index-2.html" title=""> home 1</a></li>
                <li class="dropdown_hover"><a href="index_2.html" title=""> home 2</a></li>
                <li class="dropdown_hover"><a href="index_3.html" title=""> home 3</a></li>
              </ul>
            </li>
            <li><a routerLink="" title="">about us</a>
            </li>
            <li><a routerLink="blog" title="">services</a>
            </li>
            <li><a href="project_2.html" title="">projects</a>
              <ul>
                <li class="dropdown_hover"><a href="project_2.html" title=""> project 2</a></li>
                <li class="dropdown_hover"><a href="project_3.html" title=""> project 3</a></li>
                <li class="dropdown_hover"><a href="project_4.html" title=""> project 4</a></li>
                <li class="dropdown_hover"><a href="project_fullwidth.html" title="">project
                  fullwidth</a></li>
                <li class="dropdown_hover"><a href="project_single.html" title=""> project single</a>
                </li>

              </ul>
            </li>
            <li><a href="team.html" title="">team</a>
              <ul>
                <li class="dropdown_hover"><a href="team.html" title=""> team</a></li>
                <li class="dropdown_hover"><a href="team_details.html" title="">team details</a></li>
              </ul>
            </li>
            <li><a href="blog_single.html" title="">blog</a>
              <ul>
                <li class="dropdown_hover"><a href="blog_categories.html" title=""> blog categories</a>
                </li>
                <li class="dropdown_hover"><a href="blog_category.html" title=""> blog category</a></li>
                <li class="dropdown_hover"><a href="blog_single.html" title=""> blog single</a></li>
              </ul>
            </li>
            <li><a href="shop_sidebar.html" title="">shop</a>
              <ul>
                <li class="dropdown_hover"><a href="shop_sidebar.html" title="">shop sidebar</a></li>
                <li class="dropdown_hover"><a href="shop_fullwidth.html" title=""> shop fullwidth</a>
                </li>
                <li class="dropdown_hover"><a href="shop_single.html" title=""> shop single</a></li>
              </ul>
            </li>
            <li><a href="contact_us.html" title="">Contact us</a>
              <ul>
                <li class="dropdown_hover"><a href="contact_us.html" title="">contact us</a></li>
                <li class="dropdown_hover"><a href="error.html" title=""> 404 error</a></li>
              </ul>
            </li>
            <li class="caret_btn">
              <a href="#"><i class="fa fa-shopping-basket"></i><span>2</span></a>
              <ul>
                <li>
                  <div class="cc_cart_wrapper1 menu-button">
                    <div class="cc_cart_img_wrapper">
                      <img src="assets/images/cart_1.png" alt="cart_img"/>
                    </div>
                    <div class="cc_cart_cont_wrapper">
                      <h4><a href="#">put a title here</a></h4>
                      <p>1 <span> $145 </span></p>
                      <h5><i class="fa fa-times"></i></h5>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cc_cart_wrapper1 menu-button">
                    <div class="cc_cart_img_wrapper">
                      <img src="assets/images/cart_2.png" alt="cart_img"/>
                    </div>
                    <div class="cc_cart_cont_wrapper">
                      <h4><a href="#">put a title here</a></h4>
                      <p>1 <span> $145 </span></p>
                      <h5><i class="fa fa-times"></i></h5>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cc_cart_wrapper1 menu-button">
                    <div class="cc_cart_img_wrapper">
                      <img src="assets/images/cart_3.png" alt="cart_img"/>
                    </div>
                    <div class="cc_cart_cont_wrapper">
                      <h4><a href="#">put a title here</a></h4>
                      <p>1 <span> $145 </span></p>
                      <h5><i class="fa fa-times"></i></h5>
                    </div>
                  </div>
                  <div class="btm_cart_wrapper">
                    <h5>$450.00</h5>
                    <p>3 items</p>
                  </div>
                  <div class="cart_checkout_btn">

                    <a href="#!" class="waves-effect waves-light waves-ripple">checkout</a>

                  </div>
                </li>

              </ul>
            </li>

            <!-- Menu -->
            <!--search -->
          </ul>
          <div class="header_right_inner_page">
            <div class="search-wrapper">
              <div class="et_navbar_search_wrapper hidden-xs">
                <div class="et_search_bar" id="search_button">
                  <a href="#"><i class="fa fa-search waves-effect waves-light" aria-hidden="true"></i></a>
                </div>
                <div id="search_open" class="et_search_box">
                  <input type="text" placeholder="Search text...">
                  <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="sw_icon_bar">
              <ul class="tc_login_btn_wrapper">
                <li class="dropdown tc_login_btn">
                  <a class="dropdown-toggle hvr-float-shadow active waves-effect waves-light"
                     data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-v"></i></a>
                  <ul class="dropdown-menu tc_menu_fixed_border">
                    <li class="dropdown_hover"><a href="#">FAQ's</a></li>
                    <li class="dropdown_hover"><a href="#">Track Order</a></li>
                    <li class="dropdown_hover"><a href="#">Register</a></li>
                    <li class="dropdown_hover"><a href="#">Login</a></li>
                    <li class="dropdown_hover hidden-lg"><a href="#">Free Quote</a></li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>

        </nav>
      </div>
      <!-- /.main-menu-wrapper -->
      <!-- mobile menu area start -->
      <div class="mobile-menu-area visible-sm visible-xs">
        <div class="container-fluid header_container">
          <div class="row">

            <div class="col-xs-12 cc_menu_top_margin">
              <!-- mobile menu start -->
              <div class="mobile-menu">
                <nav>
                  <ul class="nav">
                    <li><a href="index-2.html">Home</a>
                      <ul>
                        <li><a href="index-2.html" title=""> home 1</a></li>
                        <li><a href="index_2.html" title=""> home 2</a></li>
                        <li><a href="index_3.html" title=""> home 3</a></li>
                      </ul>
                    </li>
                    <li><a href="about_us.html">about us</a>
                    </li>
                    <li><a href="services.html">services</a>
                    </li>
                    <li><a href="project_2.html">projects</a>
                      <ul>
                        <li><a href="project_2.html" title=""> project 2</a></li>
                        <li><a href="project_3.html" title=""> project 3</a></li>
                        <li><a href="project_4.html" title=""> project 4</a></li>
                        <li><a href="project_fullwidth.html" title="">project fullwidth</a></li>
                        <li><a href="project_single.html" title=""> project single</a></li>

                      </ul>
                    </li>
                    <li><a href="team.html">team</a>
                      <ul>
                        <li><a href="team.html" title=""> team</a></li>
                        <li><a href="team_details.html" title="">team details</a></li>
                      </ul>
                    </li>
                    <li><a href="blog_single.html" title="">blog</a>
                      <ul>
                        <li><a href="blog_categories.html" title=""> blog categories</a></li>
                        <li><a href="blog_category.html" title=""> blog category</a></li>
                        <li><a href="blog_single.html" title=""> blog single</a></li>
                      </ul>
                    </li>
                    <li><a href="shop_sidebar.html" title="">shop</a>
                      <ul>
                        <li><a href="shop_sidebar.html" title="">shop sidebar</a></li>
                        <li><a href="shop_fullwidth.html" title=""> shop fullwidth</a></li>
                        <li><a href="shop_single.html" title=""> shop single</a></li>
                      </ul>
                    </li>
                    <li><a href="contact_us.html"> contact us</a>
                      <ul>
                        <li><a href="contact_us.html" title="">contact us</a></li>
                        <li><a href="error.html" title=""> 404 error</a></li>
                      </ul>
                    </li>
                    <li class="caret_btn">
                      <a href="#"><i class="fa fa-shopping-basket"></i><span>2</span></a>
                      <ul>
                        <li>
                          <div class="cc_cart_wrapper1 menu-button">
                            <div class="cc_cart_img_wrapper">
                              <img src="assets/images/cart_1.png" alt="cart_img"/>
                            </div>
                            <div class="cc_cart_cont_wrapper">
                              <h4><a href="#">put a title here</a></h4>
                              <p>1 <span> $145 </span></p>
                              <h5><i class="fa fa-times"></i></h5>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="cc_cart_wrapper1 menu-button">
                            <div class="cc_cart_img_wrapper">
                              <img src="assets/images/cart_2.png" alt="cart_img"/>
                            </div>
                            <div class="cc_cart_cont_wrapper">
                              <h4><a href="#">put a title here</a></h4>
                              <p>1 <span> $145 </span></p>
                              <h5><i class="fa fa-times"></i></h5>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="cc_cart_wrapper1 menu-button">
                            <div class="cc_cart_img_wrapper">
                              <img src="assets/images/cart_3.png" alt="cart_img"/>
                            </div>
                            <div class="cc_cart_cont_wrapper">
                              <h4><a href="#">put a title here</a></h4>
                              <p>1 <span> $145 </span></p>
                              <h5><i class="fa fa-times"></i></h5>
                            </div>
                          </div>
                          <div class="btm_cart_wrapper">
                            <h5>$450.00</h5>
                            <p>3 items</p>
                          </div>
                          <div class="cart_checkout_btn">

                            <a href="#!" class="waves-effect waves-light waves-ripple">checkout</a>

                          </div>
                        </li>

                      </ul>
                    </li>

                  </ul>
                </nav>
              </div>
              <!-- mobile menu end -->
            </div>
          </div>
        </div>
      </div>
      <!-- mobile menu area end -->

      <!-- /.main-menu-wrapper -->
    </div>
  </div>

  <br>
</div>
<!--sw header wrapper end-->
<!-- page_title_section start -->
<div class="page_title_section">
  <div class="page_header">
    <div class="container">
      <div class="row">
        <!-- section_heading start -->
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

          <div class="sub_title_section">
            <ul class="sub_title">
              <li><a href="#">Home</a></li>
              <li>Tips</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page_title_section end -->
<!--sw about us top start-->
<div class="sw_about_top_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="sw_abot_top_txt_wrapper">

          <div class="sw_left_heading_wraper sw_dark_heading_wraper">
            <h1>Consigli utili per tutti!</h1>
            <img src="assets/images/hd_line_dark.png" alt="title">
            <p>Basta poco per passare uno stile di vita eco-sostenibile,
              l’importante è farlo in maniera divertente e creativa.
              <br> Qui di seguito potete trovare alcuni consigli utili.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
        <div class="sw_about_top_img">
          <img src="assets/images/iner_blog.png" alt="img">

        </div>
      </div>
    </div>
  </div>
</div>
<!--sw about us top end-->

<!-- blog_section start -->
<div class="blog_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="lest_news_box_wrapper">
          <div class="lest_news_img_wrapper">
            <img src="assets/images/raccoltadiffblog1.jpg" alt="blog_img">
            <div class="btc_blog_indx_date_wrapper">
              <a href="#!" class="waves-effect waves-light waves-ripple" title="Vedi fonte"><i
                class="fa fa-link" ></i></a>
            </div>

          </div>
          <div class="lest_news_cont_wrapper">
            <div class="sc_blog_date">27 Novembre, 2018</div>
            <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae commodo nulla, quis
              sagittis arcu. In arcu leo, accumsan a ultricies vel, maximus nec nibh. In sit amet
              consequat nulla.
            </p>

          </div>
        </div>
        <div class="lest_news_box_wrapper">
          <div class="lest_news_img_wrapper">
            <img src="assets/images/pjct_single_bg.jpg" alt="blog_img">
            <div class="btc_blog_indx_date_wrapper">
              <a href="#!" class="waves-effect waves-light waves-ripple" title="Vedi fonte"><i
                class="fa fa-link" ></i></a>
            </div>

          </div>
          <div class="lest_news_cont_wrapper">
            <div class="sc_blog_date">27 Novembre, 2018</div>
            <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae commodo nulla, quis
              sagittis arcu. In arcu leo, accumsan a ultricies vel, maximus nec nibh. In sit amet
              consequat nulla.
            </p>

          </div>
        </div>
        <div class="lest_news_box_wrapper">
          <div class="lest_news_img_wrapper">
            <img src="assets/images/pjct_single_bg.jpg" alt="blog_img">
            <div class="btc_blog_indx_date_wrapper">
              <a href="#!" class="waves-effect waves-light waves-ripple" title="Vedi fonte"><i
                class="fa fa-link" ></i></a>
            </div>

          </div>
          <div class="lest_news_cont_wrapper">
            <div class="sc_blog_date">27 Novembre, 2018</div>
            <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae commodo nulla, quis
              sagittis arcu. In arcu leo, accumsan a ultricies vel, maximus nec nibh. In sit amet
              consequat nulla.
            </p>

          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <!-- blog_pagination_section start -->
          <div class="pager_wrapper gc_blog_pagination">
            <ul class="pagination">
              <li><a href="#">Indietro</a>
              </li>
              <li><a href="#">1</a>
              </li>
              <li class="third_pagger"><a href="#">2</a>
              </li>
              <li><a href="#">3</a>
              </li>
              <li class="hidden-xs"><a href="#">4</a>
              </li>
              <li><a href="#">Prossimo</a>
              </li>
            </ul>
          </div>
          <!-- blog_pagination_section end -->
        </div>
      </div>
      <!-- blog_pagination_section end -->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="sidebar_margin">
          <div class="sidebar_widget">
            <h4>Ricerca</h4>
            <img src="assets/images/heading_line.png" alt="title">
            <form class="search_form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Cerca qui">
              </div>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="sidebar_widget">
            <h4>Archivio</h4>
            <img src="assets/images/heading_line.png" alt="title">
            <div class="archives_wrapper">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> june<span>(02)</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>july <span>(06)</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>august
                    <span>(15)</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>september<span>(23)</span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>december<span>(09)</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="sidebar_widget">
            <h4>tags</h4>
            <img src="assets/images/heading_line.png" alt="title">
            <div class="archives_wrapper">
              <div class="gc_blog_cloud_side_menu">

                <ul>
                  <li><a href="#">riciclo</a>
                  </li>
                  <li><a href="#">natura</a>
                  </li>
                  <li><a href="#">rispetto</a>
                  </li>
                  <li><a href="#">carta</a>
                  </li>
                  <li><a href="#">plastica</a>
                  </li>
                  <li><a href="#">spazzatura</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<!-- blog_section end -->

<!-- sw footer section start-->
<div class="sw_footer_main_wrapper">

  <div class="circle_btm">
    <a href="javascript:" id="return-to-top"><i class="fa fa-long-arrow-up"></i></a>
  </div>
  <div class="footer_wrapper">

    <div class="container">

      <div class="row">
        <div class="foter_padder">
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="wrapper_second_about">
              <div class="wrapper_first_image">
                <a href="index-2.html"><img src="assets/images/hd_logo.png" class="img-responsive" alt="logo"/></a>
              </div>
              <div class="abotus_content">
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis aks nostrud exercitation ullamco.</p>
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>

            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-xs-12 col-sm-4">
            <div class="wrapper_second_useful">
              <h4>useful links </h4>
              <img src="assets/images/hd_line_dark.png" alt="title" class="pd_btm_3">
              <ul>
                <li><a href="#"><i class="fa fa-angle-right"></i>About us</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>events </a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>contact </a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>history</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>news</a></li>
              </ul>

            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-12 col-sm-4">
            <div class="wrapper_second_useful wrapper_second_links">

              <ul>
                <li><a href="#"><i class="fa fa-angle-right"></i>sitemap</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>FAQ </a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>awards </a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>tstimonials</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i>career</a></li>
              </ul>

            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <div class="wrapper_second_useful wrapper_second_useful_2">
              <h4>contact us</h4>
              <img src="assets/images/hd_line_dark.png" alt="title" class="pd_btm_3">
              <ul>
                <li>
                  <h1>+800 568 322</h1></li>
                <li><a href="#"><i class="flaticon-new-email-outline"></i>sunwind@example.com</a>
                </li>
                <li><a href="#"><i class="flaticon-internet"></i>www.example.com</a>
                </li>

                <li><i class="flaticon-placeholder"></i>Timposn, Suite 247 USA, 222
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="section3_copyright">
          <p>Copyright 2018 <a href="index-2.html"> sun & wind energy</a>. all right reserved.</p>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- sw footer section end-->
<!--main js files-->
