<app-navbar></app-navbar>
<!--sw header wrapper end-->
<!-- page_title_section start -->
<div class="page_title_section">
  <div class="page_header">
    <div class="container">
      <div class="row">
        <!-- section_heading start -->
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

          <div class="sub_title_section">
            <ul class="sub_title">
              <li><a href="#">Home</a></li>
              <li>Tips</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page_title_section end -->
<!--sw about us top start-->
<div class="sw_about_top_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="sw_abot_top_txt_wrapper">

          <div class="sw_left_heading_wraper sw_dark_heading_wraper">
            <h1>Consigli utili per tutti!</h1>
            <img src="assets/images/hd_line_dark.png" alt="title">
            <p>Basta poco per passare uno stile di vita eco-sostenibile,
              l’importante è farlo in maniera divertente e creativa.
              <br> Qui di seguito potete trovare alcuni consigli utili.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
        <div class="sw_about_top_img">
          <img src="assets/images/iner_blog.png" alt="img">

        </div>
      </div>
    </div>
  </div>
</div>
<!--sw about us top end-->

<!-- blog_section start -->
<div class="blog_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div *ngFor="let tip of tips" class="lest_news_box_wrapper">
          <div class="lest_news_img_wrapper">
            <img src="assets/images/raccoltadiffblog1.jpg" alt="blog_img">
            <div class="btc_blog_indx_date_wrapper">
              <a href="#!" class="waves-effect waves-light waves-ripple" title="Vedi fonte"><i
                class="fa fa-link"></i></a>
            </div>

          </div>
          <div class="lest_news_cont_wrapper">
            <div class="sc_blog_date">27 Novembre, 2018</div>
            <h5><a href="#">{{tip.titolo}}</a></h5>
            <br>
            <br>
            <p style="float:left">
              {{tip.descrizione}}<br>
            </p>

          </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <!-- blog_pagination_section start -->
          <div class="pager_wrapper gc_blog_pagination">
            <ul class="pagination">
              <li><a href="#">Indietro</a>
              </li>
              <li><a href="#">1</a>
              </li>
              <li class="third_pagger"><a href="#">2</a>
              </li>
              <li><a href="#">3</a>
              </li>
              <li class="hidden-xs"><a href="#">4</a>
              </li>
              <li><a href="#">Prossimo</a>
              </li>
            </ul>
          </div>
          <!-- blog_pagination_section end -->
        </div>
      </div>
      <!-- blog_pagination_section end -->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="sidebar_margin">
          <div class="sidebar_widget">
            <h4>Ricerca</h4>
            <img src="assets/images/heading_line.png" alt="title">
            <form class="search_form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Cerca qui">
              </div>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="sidebar_widget">
            <h4>Archivio</h4>
            <img src="assets/images/heading_line.png" alt="title">
            <div class="archives_wrapper">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> june<span>(02)</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>july <span>(06)</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>august
                    <span>(15)</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>september<span>(23)</span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>december<span>(09)</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="sidebar_widget">
            <h4>tags</h4>
            <img src="assets/images/heading_line.png" alt="title">
            <div class="archives_wrapper">
              <div class="gc_blog_cloud_side_menu">

                <ul>
                  <li><a href="#">riciclo</a>
                  </li>
                  <li><a href="#">natura</a>
                  </li>
                  <li><a href="#">rispetto</a>
                  </li>
                  <li><a href="#">carta</a>
                  </li>
                  <li><a href="#">plastica</a>
                  </li>
                  <li><a href="#">spazzatura</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<!-- blog_section end -->

<app-footer></app-footer>

<!--main js files-->

