<app-navbar></app-navbar>
  <div class="page_title_section">
  <div class="page_header">
    <div class="container">
      <div class="row">
        <!-- section_heading start -->
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

          <div class="sub_title_section">
            <ul class="sub_title">
              <li><a href="#"> Home </a></li>
              <li> Contatti</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page_title_section end -->
<!--sw about us top start-->
<div class="sw_about_top_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="sw_abot_top_txt_wrapper">

          <div class="sw_left_heading_wraper sw_dark_heading_wraper">
            <h1>Servizio clienti</h1>
            <img src="assets/images/hd_line_dark.png" alt="title">
            <p> Hai delle domande o vuoi avere maggiori informazioni su Trash me not?
              Vuoi pubblicizzare la tua attività e vuoi vendere nel nostro shop?
              Ti basta inserire le tue informazioni nei campi che trovi sotto e riceverai risposta a breve.
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="sw_about_top_img">
          <img src="assets/images/iner_contactt.png" alt="img">

        </div>
      </div>
    </div>
  </div>
</div>
<!--sw about us top end-->

<!-- contact us section start -->
<div class="contact-section">
  <div class="container">
    <div class="holder">
      <div class=" row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <form action="#">
            <div class="sw_left_heading_wraper">
              <h1> Contattaci!</h1>
              <img src="assets/images/heading_line.png" alt="title">
              <p>Per qualsiasi informazione non esitare a contattarci</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="full_name" placeholder="Nome*" class="require">
              </div>
              <div class="col-md-6">
                <input type="text" name="email" placeholder="Email*" class="require" data-valid="email" data-error="Email should be valid.">
              </div>
              <div class="col-md-12">
                <input type="text" name="subject" placeholder="Oggetto">
              </div>

              <div class="col-md-12">
                <textarea cols="10" rows="4" name="message" class="require" placeholder="Messaggio*"></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="response response_2"></div>
                <div class="cntct_2_btn_wrapper cntct_2_btn_inner">
                  <button type="button" class="submitForm waves-effect waves-light waves-ripple">Invia</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

          <div class="contact-box">
            <div class="wrapper_second_useful_2">
              <div class="sw_left_heading_wraper sw_dark_heading_wraper ppp">
                <h1>Informazioni</h1>
                <img src="assets/images/hd_line_dark.png" alt="title">
              </div>
              <ul>
                <li>
                  <h1>+123 456 789</h1></li>
                <li><a href="#"><i class="flaticon-new-email-outline"></i>info@trashmenot.com</a>
                </li>
                <li><a href="#"><i class="flaticon-internet"></i>www.trashmenot.it</a>
                </li>

                <li>Ancona, 60120, Italia</li>

              </ul>
            </div>
            <div class="abotus_content">

              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li class="hidden-xs"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--contact wrapper end-->
